Which cuisine types have the highest average delivery fee per city?"

In [2]:
import os

os.chdir('C:/Users/esram/OneDrive/Desktop/esrabecode/delivery-market-analysis')

os.getcwd()

'C:\\Users\\esram\\OneDrive\\Desktop\\esrabecode\\delivery-market-analysis'

In [45]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('data/takeaway.db')

query = """

WITH cuisine_avg AS (
    SELECT 
        r.city,
        c.name AS cuisine_type,
        AVG(r.deliveryFee) AS avg_delivery_fee,
        COUNT(DISTINCT r.primarySlug) AS restaurant_count
    FROM restaurants r
    JOIN categories c
        ON r.primarySlug = c.restaurant_id
    WHERE 
        LOWER(c.name) LIKE '%pizza%'
        OR LOWER(c.name) LIKE '%sushi%'
        OR LOWER(c.name) LIKE '%indian%'
        OR LOWER(c.name) LIKE '%turkish%'
        OR LOWER(c.name) LIKE '%thai%'
        OR LOWER(c.name) LIKE '%italian%'
        OR LOWER(c.name) LIKE '%chinese%'
        OR LOWER(c.name) LIKE '%kebab%'
        OR LOWER(c.name) LIKE '%kebap%'
        OR LOWER(c.name) LIKE '%burger%'
        OR LOWER(c.name) LIKE '%mexican%'
        OR LOWER(c.name) LIKE '%japanese%'
        OR LOWER(c.name) LIKE '%mediterranean%'
        OR LOWER(c.name) LIKE '%kip%'
    GROUP BY 
        r.city,
        c.name
    HAVING COUNT(DISTINCT r.primarySlug) >= 3
)

SELECT 
    ca.city,
    ca.cuisine_type,
    ca.avg_delivery_fee,
    ca.restaurant_count
FROM cuisine_avg ca
JOIN (
    SELECT city, MAX(avg_delivery_fee) AS max_fee
    FROM cuisine_avg
    GROUP BY city
) m
    ON ca.city = m.city AND ca.avg_delivery_fee = m.max_fee
ORDER BY ca.avg_delivery_fee DESC;

"""

delivery_fee_df = pd.read_sql_query(query, conn)
delivery_fee_df.head(10)

             city      cuisine_type  avg_delivery_fee  restaurant_count
0            Geel    Turkse pizza's          5.625000                 3
1       Bruxelles        Hamburgers          5.590000                 4
2            Gent             Pizza          5.590000                 4
3         Ixelles           Burgers          5.503958                 5
4       Antwerpen  Pizza's (medium)          5.431549                 3
5      Schaerbeek   La pizza royale          5.395556                 3
6      Borgerhout           Pizza's          5.064026                 3
7  Heusden-Zolder           Pizza's          5.000000                 3
8           Liège            Pizzas          5.000000                 3
9        Mechelen        Hamburgers          4.496000                 3