What is the distribution of restaurants per location?

In [1]:
import os

os.chdir('C:/Users/esram/OneDrive/Desktop/esrabecode/delivery-market-analysis')

os.getcwd()

'C:\\Users\\esram\\OneDrive\\Desktop\\esrabecode\\delivery-market-analysis'

In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('data/takeaway.db')

query = """
SELECT city, COUNT(*) AS restaurant_count
FROM restaurants
GROUP BY city
ORDER BY restaurant_count DESC;
"""

df_city_count = pd.read_sql_query(query, conn)

# İlk 20 şehri göster
df_city_count.head(20)

                    city  restaurant_count
0              Antwerpen               437
1                   Gent               309
2              Bruxelles               264
3                 Leuven               174
4             Schaerbeek               110
5                 Brugge                96
6               Oostende                85
7               Mechelen                84
8             Anderlecht                84
9                 Deurne                56
10                 Uccle                51
11               Ixelles                50
12                Laeken                48
13             Etterbeek                43
14               Hasselt                41
15          Sint-Niklaas                39
16                 Aalst                38
17  Molenbeek-Saint-Jean                36
18                  Genk                32
19                 Jette                30

In [ ]:
import sqlite3
import pandas as pd
import folium
from folium.plugins import MarkerCluster

conn = sqlite3.connect('data/takeaway.db')

query = """
SELECT primarySlug, name, city, latitude, longitude, ratings, durationRangeMin, durationRangeMax, deliveryFee
FROM restaurants
WHERE latitude IS NOT NULL AND longitude IS NOT NULL;
"""
df_restaurants = pd.read_sql_query(query, conn)


m = folium.Map(location=[50.85, 4.35], zoom_start=10)

marker_cluster = MarkerCluster().add_to(m)

for idx, row in df_restaurants.iterrows():
    popup_text = f"""
    <b>{row['name']}</b><br>
    City: {row['city']}<br>
    Rating: {row['ratings']}<br>
    Delivery: {row['durationRangeMin']}-{row['durationRangeMax']} min<br>
    Fee: {row['deliveryFee']} €
    """
    folium.Marker(
        location=[row['latitude'], row['longitude']],
        popup=popup_text
    ).add_to(marker_cluster)


m.save('delivery_map.html')